{% extends "layout_with_navi.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <h2>승인 요청</h2>
    </div>
    <div class="row">
        <p>로그인하시려면 브라우저에 표시된 패스코드를 입력하세요.</p>
    </div>
    <div class="row">
        <dl class="row">
            <dt class="col-sm-3">호스트</dt>
            <dd class="col-sm-9">{{ approval.account.host }}</dd>
            <dt class="col-sm-3">계정</dt>
            <dd class="col-sm-9">{{ approval.account.name }}</dd>
            <dt class="col-sm-3">요청일시</dt>
            <dd class="col-sm-9">{{ approval.created_at }}</dd>
            <dt class="col-sm-3">만료일시</dt>
            <dd class="col-sm-9">{{ approval.expired_at }}</dd>
        </dl>
    </div>
    <div class="row">
        <form method="POST" action="{{ url_for('.approve_approval', id=approval.id) }}">
            <div class="form-row">
                {% for field in form %}
                    <div class="form-group col-md">
                        <label>{{ field.label }}</label>
                        {{ field(class_="form-control") }}
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="승인" />
        </form>
    </div>
</div>

{% endblock %}
