{% extends "layout.html" %}

{% block body %}
<style>
  div#login {
      padding: 4vw 4vh;
  }
</style>

<div id="login" class="container-fluid">
    <div>
        <h1>{{ form.title }}</h1>
    </div>

    <div>
        <form method="POST" action="{{ form.action }}">
            {% for field in form %}
            <div class="form-group">
                <label>
                    {{ field.label }}
                </label>

                {{ field(class_='form-control') }}
            </div>
            {% endfor %}

            <input type="submit" class="btn btn-lg btn-primary" value="로그인" />
        </form>
    </div>
</div>

{% endblock %}
